{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup Page</title>
    <link rel="icon" href="{% static 'images/ydnlogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login-signup-styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
   
</head>
<body>
    <div class="shape triangle"></div>
    <div class="shape circle"></div>
    <div class="shape square"></div>
    <div class="shape star"></div>
    <div class="shape notepad"></div>
    <div class="header">
        <div class="logo">
            <i class="fas fa-thumbtack logo-icon"></i>
            <div class="logo-text">You <span>Do</span> Note</div>
        </div>
    </div>

    <div class="container">
        <h3>Signup Here</h3>
        {% if error %}
        <p style="color: rgb(237, 81, 81); margin-bottom: 10px;">{{ error }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" id="password1" name="password1" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" placeholder="Confirm your password" required>
            </div>
            <button type="submit" class="btn">Signup</button>
            
        </form>
        <div class="options">
            <a href="{% url 'login' %}">I already have an account</a>
        </div>

        <div class="tagline">Your on the go note</div>
    </div>
    </div>    
</body>
</html>
